html,
body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  background-color: #F5F5F5;
}

.layout {
  display: grid;
  grid-template-areas: 
  "navigation header"
  "navigation h-content";
  grid-template-columns: 246px auto;
  grid-template-rows: 186px auto;
  height: 100%;
}

.navigation {
  grid-area: navigation;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 40px 30px 26px 30px;
}

.navigation__link-list {
  flex: 1;
  margin-top: 46px;
  border-bottom: 1px solid rgb(128, 128, 128, 0.3);
  margin-bottom: 20px;
}

.navigation__link-list h6 {
  font-size: 16px;
  color: grey;
  margin-bottom: 15px;
}

.navigation__link {
  color: #4D4D4D;
  height: 46px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navigation__account h5 {
  margin: 0;
}

.navigation__account address a {
  text-decoration: none;
  color: grey;
  font-style: normal;
  font-size: 12px;
}

.navigation__link span {
  margin-left: 18px;
}

.link--active {
  margin-left: -20px;
  padding-left: 20px;
  border-radius: 10px;
  text-align: cent;
  background: rgba(27, 89, 248, 0.1);
  color: #1B59F8;
}

.fa-solid {
  width: 20px;
  text-align: center;
  object-fit: scale-down;
}

.fa-bolt {
  color: #1B59F8;
}

.profile__img {
  height: 50px;
  border-radius: 50%;
}

.header {
  padding-left: 44px;
  padding-right: 25px;
  grid-area: header;
  background-color: #F5F5F5;
}

.header--top {
  display: flex;
  border-bottom: 1px solid rgb(128, 128, 128, 0.3);
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 30px;
  padding-top: 30px;
}

.header--top a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.nav__box {
  display: flex;
  align-items: baseline;
}

.nav__box h2 {
  margin-right: 34px;
}

.nav__box nav {
  background-color: #F0F2F5;
  border-radius: 12px;
}

.nav__box ul {
  display: flex;
  list-style-type: none;
  gap: 75px;
  padding-left: 0;
  padding-right: 25px;
}

.topic__box {
  margin-right: 40px;
}

.blue {
  color: #1B59F8;
  background-color: #FFFFFF;
  padding: 13px;
  border-radius: 10px;
}

.blue-1 {
  margin-right: -30px;
  margin-left: 4px;
  padding-left: 27px;
  padding-right: 27px;
}

.content {
  grid-area: h-content;
  background-color: #F5F5F5;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px , 1fr));
  /* grid-template-columns: repeat(4 , 250px); */
  grid-auto-rows: 230px;
  gap: 29px;
  margin-left: 44px;
  margin-right: 63px;
  overflow-y: auto;
}


.box {
  background-color: #1B59F8;
  height: 100%;
  border-radius: 18px;
}

@media screen and (max-width:760px) {
  .header {
    display: none;
  }

  .layout {
    grid-template-columns: auto;
    grid-template-rows: 114px auto;
    grid-template-areas: 
    "navigation"
    "h-content";
  }

  .logo__desktop {
    display: none;
  }
  
}





















/* main {
  display: grid;
  grid-template-rows: 100px 100px;
  grid-template-columns: 120px 120px 120px;
  grid-auto-rows: 100px;
  grid-auto-columns: 120px;
  grid-auto-flow: column;
  gap: 10px;
  grid-auto-flow: row;
  grid-auto-columns: 120px;
  grid-auto-rows: 100px;

  width: 100%;
  overflow-x: scroll;
}

main > * {
  background: rgb(97, 87, 87);
  min-height: 20px;
}

p {
  background-color: red;
}

.first {
  grid-column: span 2;
  grid-row: span 2;
} */