* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    font-family: "Inter" , sans-serif;
}

.wrapper {
    padding: 0 20px;
    max-width: 375px;
    margin: 0 auto;
}

header {
    height: 60px;
    display: flex;
    align-items: center;
}

header h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 115%;
}

main {
    padding: 10px 0 10px 0;
    min-height: calc(100vh - 60px);
    background-color: rgb(182, 181, 181);
}

.image-small {
    border-radius: 5px;
    width: 162px;
    height: 125px;
}

.image-big {
    border-radius: 5px;
    width: 162px;
    height: 205px;
}

.photo-pair {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.photo-row {
    margin: 0px auto 10px auto;
    display: flex;
    gap: 10px;
}

.second-row {
    display: flex;
    gap: 10px;
}

@media only screen and (min-width: 1024px) {
    .wrapper {
        padding: 0 32px;
        margin: 0 auto;
        max-width: 1024px;
    }

    main {
        padding: 20px 0 20px 0;
    }

    .image-small {
        width: 633px;
        height: 400px;
    }

    .image-big {
        width: 307px;
        height: 400px;
    }

    .photo-pair {
        display: flex;
        flex-direction: row;
        gap: 20px;  
    }
    
    .photo-row {
        margin: 0px auto 20px auto;
        flex-wrap: wrap;
        gap: 20px;
    }
} 